/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
/Properties/AssemblyInfo.cs
/.idea/.idea.Injector/.idea/contentModel.xml
/.idea/.idea.Injector/.idea/encodings.xml
/.idea/.idea.Injector/.idea/indexLayout.xml
/Injector.csproj
/obj/Debug/Injector.csprojAssemblyReference.cache
/Injector.sln
/.idea/.idea.Injector/.idea/modules.xml
/.idea/.idea.Injector/.idea/projectSettingsUpdater.xml
/.idea/.idea.Injector/riderModule.iml
/.idea/.idea.Injector/.idea/vcs.xml
/.idea/.idea.Injector/.idea/workspace.xml
